.App 

.Login {
  background-color: cadetblue;
  min-height: 100vh;
  display:flex;
  
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: white;
}

.Login .app_title {
font-size:calc(10px + 10vmin);
margin-top: 10vmin;
margin-bottom: 10vmin;
}

.InputUserPass {
  font-size:5vmin;
  
}

.InputUserPass div{
  margin-bottom: 5vmin;
}

.InputUserPass .input_info{
  color: black;
}

